.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color:  hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    margin: 0px;
    padding: 0px;
    background: url(./images/pattern-background-desktop.svg) no-repeat, #E1E9Ff;
    background-size: contain;
}
.container {
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  border-radius: 20px;
  background-color: white;
  margin-bottom:10px;
  margin-top: 100px;
}

.illustration-image{
    width: 450px;
    object-fit: cover;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}
.order-summary{
    margin: 30px;
    text-align: center;
    margin-bottom: 0px;
}
.order-description{
    text-align: center;
    color:grey;
    margin: 45px;
}
.inner-container{
    background-color: hsl(225, 100%, 98%);
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin: 30px;
    margin-top: 0px;
    border-radius: 20px;
}
.inner-container-container{
    gap: 0px;
}
.Annual-plans{
    margin-right: 40px;
}
.pricing{
    margin-right: 40px;
    color: grey;
}
a{
    text-decoration: underline;
    color: hsl(245, 75%, 52%)
}
a:hover{
    text-decoration: none;
}

.first-button{
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    border-radius: 20px;
    width: 90%;
    height: 60px;
    font-size: 18px;
    margin-bottom:20px;
    box-shadow: 0px 10px 10px hsl(245, 75%, 52%, 0.2);
}
.first-button:hover{
 background-color: hsl(245, 75%, 62%);

}
.second-button{
    color: grey;
    background-color: white;
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 60px;
    font-size: 18px;
    margin-bottom: 30px;
}
.second-button:hover{
    color: black;
}